In [1]:
import warnings
warnings.filterwarnings("ignore")

# Extract, Transform, Load (ETL)

The GET step is thoroughly outlined in the README.md file provided. The purpose of this notebook is to confirm that we can pull the data we want from our database for analysis, and that the data is loaded correctly. The original excel file contains 85 variables, which included several transformed variables. Therefore, only 43 variables which consisted of raw data was stored in the database.

The SQL database includes two tables:

1. **blood**: 21 variables
2. **patient**: 22 variables 

The tables contain Covid-19 patient data about medical history, blood panel results, and patient characteristics that were recorded during their hospital stay.

In [2]:
import sqlite3
import pandas as pd

In [3]:
con = sqlite3.connect('data.db')

In [4]:
query = """
SELECT * 
FROM patient
INNER JOIN blood on blood.patient_id = patient.id
"""

df = pd.read_sql_query(query, con)

We can look at the first few rows to confirm that the data was loaded correctly.

In [5]:
df.head()

,id,length_of_stay,age,death,severity,black,white,asian,latino,myocardial_infarction,...,glucose,aspartate_aminotransferase,alanine_aminotransferase,white_blood_cell,lymphocytes,interleukin6,ferritin,C_reactive_protein,procalcitonin,troponin
0,1,1,89,0,3,0,0,0,0,0,...,112.0,26.0,14.0,5.6,1.4,0.0,0.0,0.4999,0.0,0.01
1,2,2,67,1,7,0,1,0,0,0,...,265.0,85.0,32.0,12.2,0.3,0.0,885.0,14.9000,0.6,1.20
2,3,2,94,1,7,0,1,0,0,0,...,121.0,32.0,18.0,6.1,0.5,324.1,629.0,33.9000,1.2,0.00
3,4,15,72,0,9,1,0,0,0,1,...,0.0,44.0,17.0,3.7,0.5,0.0,816.0,18.4000,7.3,0.05
4,5,9,71,0,7,1,0,0,0,0,...,0.0,38.0,28.0,5.7,1.4,39.4,1691.0,11.6000,0.0,0.01

We can look at the basic information about the data set to confirm that the variables are expected data types:

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4711 entries, 0 to 4710
Data columns (total 43 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     4711 non-null   int64
 1   length_of_stay                         4711 non-null   int64
 2   age                                    4711 non-null   int64
 3   death                                  4711 non-null   int64
 4   severity                               4711 non-null   int64
 5   black                                  4711 non-null   int64
 6   white                                  4711 non-null   int64
 7   asian                                  4711 non-null   int64
 8   latino                                 4711 non-null   int64
 9   myocardial_infarction                  4711 non-null   int64
 10  peripheral_vascular_disease            4711 non-null   int64
 11  congestive_heart_disease               4711 non-null   int64
 12  cardiovascular_disease                 4711 non-null   int64
 13  dementia                               4711 non-null   int64
 14  chronic_obstructive_pulmonary_disease  4711 non-null   int64
 15  diabetes_mellitus_complicated          4711 non-null   int64
 16  diabetes_mellitus_simple               4711 non-null   int64
 17  renal_disease                          4711 non-null   int64
 18  all_central_nervous_system_disease     4711 non-null   int64
 19  pure_central_nervous_system_disease    4711 non-null   int64
 20  stroke                                 4711 non-null   int64
 21  seizure                                4711 non-null   int64
 22  id                                     4711 non-null   int64
 23  patient_id                             4711 non-null   int64
 24  oxygen_saturation                      4711 non-null   int64
 25  temperature                            4711 non-null   float64
 26  mean_arterial_pressure                 4711 non-null   float64
 27  D_dimer                                4711 non-null   float64
 28  platelets                              4711 non-null   int64
 29  international_normalized_ratio         4711 non-null   float64
 30  blood_urea_nitrogen                    4711 non-null   float64
 31  creatinine                             4711 non-null   float64
 32  sodium                                 4711 non-null   float64
 33  glucose                                4711 non-null   float64
 34  aspartate_aminotransferase             4711 non-null   float64
 35  alanine_aminotransferase               4711 non-null   float64
 36  white_blood_cell                       4711 non-null   float64
 37  lymphocytes                            4711 non-null   float64
 38  interleukin6                           4711 non-null   float64
 39  ferritin                               4711 non-null   float64
 40  C_reactive_protein                     4711 non-null   float64
 41  procalcitonin                          4711 non-null   float64
 42  troponin                               4711 non-null   float64
dtypes: float64(17), int64(26)
memory usage: 1.5 MB

We do not have any null values and all of the variables are the expected data types. There may be missing values stored as '0', which will be addressed during EDA and when we build the linear model.